@using Lightpoin.Test.Web.Models
@model AddProductToStoreModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form action="@Url.Action("AddProductToStore")" method="post" id="AddProductToStore">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2><span class="label label-primary">Add product to store</span></h2>
            </div>
        </div>
        @if (ViewData.ContainsKey("Errors"))
        {
            <div class="alert alert-danger" role="alert">
                <strong>@ViewData["Errors"]</strong>
                <p>Try again</p>
            </div>
        }
        <div class="form-group">
            <label for="StoreId" class="control-label">StoreId</label>
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <label for="StoreId"><span class="glyphicon glyphicon-shopping-cart" style="color:#286090"></span></label>
                </span>
                <input type="text" asp-for="StoreId" class="form-control" id="StoreId" placeholder="StoreId">
                <span asp-validation-for="StoreId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label for="ProductId" class="control-label">Product Name</label>
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <label for="ProductId"><span class="glyphicon glyphicon-apple" style="color:#286090"></span></label>
                </span>
                <input type="text" asp-for="ProductName" class="form-control" id="Description" placeholder="Product Name">
                <span asp-validation-for="ProductName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>