@using Lightpoin.Test.Web.Models
@model ProductModel
@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 20px;">

    <div class="row">
        <div class="text-center">
            <p style="font-size: 40px;">Product</p>
            <div class="row">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAddProduct" aria-expanded="false" aria-controls="collapseAddProduct">
                    Add product
                </button>
            </div>
            <div class="collapse" id="collapseAddProduct">
                <div class="col-md-6 col-md-offset-3">
                    <div class="jumbotron">
                        <form action="AddProduct")" method="post" id="AddProduct">
                            <div class="form-group">
                                <label for="Name" class="control-label">Product Name</label>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        <label for="Name"><span class="glyphicon glyphicon-apple" style="color:#286090"></span></label>
                                    </span>
                                    <input type="text" asp-for="Name" class="form-control" id="Name" placeholder="Product Name">
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Description" class="control-label">Description</label>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        <label for="Description"><span class="glyphicon glyphicon-question-sign" style="color:#286090"></span></label>
                                    </span>
                                    <input type="text" asp-for="Description" class="form-control" id="Description" placeholder="Description">
                                    <span asp-validation-for="Description" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseAddProduct" aria-expanded="false" aria-controls="collapseAddProduct">Close</button>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <table id="ProductTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody id="AddNewProduct">

                @{foreach (var product in Model.ProductStructs)
                    {

                        <tr>
                            <th>@product.Id</th>
                            <th>
                                @product.Name
                            </th>
                            <th>@product.Description</th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

            $('#ProductTable').DataTable();

            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var url = button.data('whatever');

                $('#AddProducts').load(url);
            });
            $('#AddProduct').submit(function (event) {
                event.preventDefault();
                var data = $(this).serialize();
                var url = $(this).attr('action');

                $.post(url, data).done(function (response) {
                    $('#AddNewProduct').append(response);
                    jQuery('#AddProduct')[0].reset();
                    alert("Product Added")
                }).fail(function (data) {
                    alert(data.responseText);
                });
            });

        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}